@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;


}

.amnBod {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: black;
}

.resBod {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: black;
}

.resBack {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  background-image: url(../src/resi.png);
  z-index: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 100%
}

.amnBack {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  background-image: url(../src/theatre.png);
  z-index: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 100%
}



.nav {
  width: 100%;
  background: black;
  top: 0;
  position: sticky !important;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.appbar {
  width: 100%;
  background: #000;
  position: relative;
  z-index: 300;

}

.appbar>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .toolbar {
  position: relative;
  z-index: 300;
  display: flex;
  height: 40px;
  width: 100%;
  background: #d3901c;
}

/* side nav */


.sideNav {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  top: 0;
  /* width: 0; */
  right: -500px;
  background: rgba(0, 0, 0, 0.693);
  backdrop-filter: blur(5px);
  transition: all .4s ease;
}

.sideNavOpen {

  width: 350px;
  right: 0;
}

.sideNav ul {
  position: relative;
  top: 20vh;
}

.sideNav li {

  list-style: none;

  padding: 1vw 2vw;
  text-align: right;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.sideNav li:nth-child(1) {
  color: #d3901c;
  font-weight: bold;
}


.background {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  background-image: url(../src/landingBackground.png);
  z-index: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.bar {
  display: flex;
  padding-left: 2vw !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1 !important;
  height: 10vh;
  width: 100vh;

  font-family: 'Kanit', sans-serif;

}


.leftRightOne,
.leftRightTwo,
.leftRightThree,
.leftRightTwoRes,
.leftRightThreeRes {
  display: flex;

  height: 100vh;
  width: 100%;
  background-color: black;
  flex-direction: row !important;
  font-family: 'Kanit', sans-serif;

}

.leftRightTwo {
  background-color: #d3901c;
}

.leftRightTwoRes {
  background-color: black !important;
}

.leftRightThree {
  background-color: rgb(241, 241, 241);
}

.leftRightThreeRes {
  background-color: black !important;
}


.right {
  width: 46vw;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 3vw !important;
  padding-right: 3vw !important;
  gap: 1.5vh;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 5vh;
}

.rightRes {
  width: 46vw;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 3vw !important;
  padding-right: 3vw !important;
  gap: 1.5vh;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 5vh;
}

.rightRes p {
  font-size: xx-large !important;
}

.right p {
  font-size: xx-large !important;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 5vh;
  padding-top: 10vh;
}



/* gallery */

.galleryPage {
  width: 100%;
  padding: 10vw 0 0;
}

.galleryTabs {
  display: flex;
  gap: 0 2vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.galleryTabs h1 {
  background: #000;
  padding: 0 10px 5px;
  cursor: pointer;

  color: white;
}

.galleryTabs .active {

  border-bottom: 2px solid #d3901c;
}

.galleryTabs .inactive {
  border-bottom: 2px solid transparent;
}

.tabContent {

  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
  padding: 2vw;
}

.tabContent {
  transition: all 1 ease;
}

.tabContent .tabImages {
  animation: img 1s forwards;
  opacity: .2;
  height: 300px;
  transition: all 1 ease-in-out;
  scale: 1;
}

.tabContent .tabImages:hover {
  cursor: pointer;
}


/* fullScreenImage */
#lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  display: none;
  z-index: 4000;
}

#lightBox.active {
  display: grid;
  place-items: center;

}



@keyframes img {
  from {
    opacity: 0;
    scale: .9;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}




@media only screen and (max-width: 600px) {
  .logo {
    display: flex;
    /* width: 45vw !important; */
  }

  .toolbar {
    display: flex !important;
    gap: 20vw !important;
  }

  .bar {
    display: flex !important;
    gap: 20vw !important;
  }


}


@media only screen and (max-width: 1000px) {


  .logo {
    display: flex;
    /* width: 45vw !important; */
  }

  .toolbar {
    display: flex !important;
    gap: 35vw !important;
  }


  .barSpace {
    display: flex !important;
    gap: 40vw !important;
    flex-direction: row;


  }

  .leftRightOne,
  .leftRightTwo,
  .leftRightThree {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    flex-direction: column-reverse !important;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    align-items: center;
  }



  .leftRightTwo {
    background-color: #d3901c !important;
    display: flex;
    flex-direction: column !important;
  }

  .leftRightThree {
    background-color: rgb(241, 241, 241);
  }
}

Button:hover {
  gap: 2vw;

}


/*

Nav PC
display: flex
padding-left: 2vw
padding-right: 2vw
justify-content: space-between
align-items: center
flex-direction: row
gap: 40vw; test this out
z-index: 2000
height: 20vh


nav left div
display: flex
width: 15%




Nav right div
display: flex
flex-direction: row
gap: 2vw;
width: 25%


div with background image

display: flex
width: 100%
height: 100%

bottom div
display: flex
height: 20vh
width: 100%
flex direction: row
justify-content: space-between
gap: 40vw











*/